body {}

#screen {
    background-color: rgb(31, 26, 26);
    position: relative;
    top: 20px;
    left: 40px;
    width: 810px;
    height: 510px;
}

.ball {
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid rgb(134, 22, 22);
    border-radius: 100%;
    visibility: hidden;
}

#info {
    position: absolute;
    left: 1000px;
    top: 40px;
}

button {
    background-color: rgb(17, 104, 161);
    color: white;
    height: 3em;
    min-width: 5em;
    border-radius: 5px;
    border-width: 0;
    margin-left: 2em;
    margin-top: 4em;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}